body {
    background-color: lightpink;
    margin: 0 auto;
    padding: 10px;

}
.header{
    display: flex;
    justify-content: space-between

}
.clinic_name{
    text-transform: uppercase;
    font-size: 30px;
}
.header_button{
    border-radius: 3px;
    position: relative;
}
.login {
    padding: 20px;
    min-width: 300px;
    right: 55px;
    top: auto;
    position: absolute;
    border: 1px solid #474747;
    border-radius: 3px;
}

.form {
    margin: 0 auto;
    display:flex;
    flex-direction: column;
}

.email_form_item{
    margin-bottom: 20px;
}

.loginButton {
    border-radius: 3px;
    margin-top: 20px;
    background-color: lightgreen;

}

.filter_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.visit_status {
    min-width: 100px;
    margin-right: 20px;
}

.filter_doctor{
    margin-right: 20px;
    min-width: 300px;
}

.filter_priority {
    min-width: 300px;
}


.display_none {
    display: none;
}

.active {
    display: block;
}

.modalWindow{
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    padding: 15px;
    background-color: #ccf4b1;
    margin: 0 auto;
    width: 50%;
    min-height: 300px;
    border: 1px solid #ccf4b1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    position: fixed;
    top: 30vh;
    left: 45vh;


}

.formModal{
    display: flex;
    flex-direction: column;
}

.addVisitButton {
    margin-bottom: 20px;
    margin-top: 20px;
}

/*Styling Selectbox______________________________________________*/
/* Кнопка выпадающего списка */


/* Кнопка выпадающего меню при наведении и фокусировке */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {display:block;}

.cards_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}


.card {
    background-color: #ccf4b1;
    margin: 10px;
    padding: 10px;
    min-height: 200px;
}


.deleteCard {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.changeVisit {
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    right: 10px;
    top: 50px;
}

.buttonShowMore {
    margin-bottom: 10px;
    position: absolute;
    right: 10px;
    top: 110px;
}

.card_row {
    margin: 5px;
}

